<!doctype html>
<html ng-app="ShoppingListCheckOff">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as toBuyList">
     <h2>To Buy:</h2>
     <ul>
        <div ng-repeat="item in toBuyList.items" class="row">
          <li>
            <div class="col-md-8 col-xs-9">
              Buy {{item.quantity}} of {{item.name}}
            </div>
            <div class="col-md-4 col-xs-2">
              <button class="btn btn-default" ng-click="toBuyList.buyItem($index);"><span class="glyphicon glyphicon-ok"></span> Buy</button>
            </div>
          </li>
        </div>
     </ul>
      <div class="emptyMessage"
          ng-if="!toBuyList.items.length">Everything is bought!
      </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtList">
     <h2>Already Bought:</h2>
     <ul>
        <div ng-repeat="item in boughtList.items" class="row">
          <li>
            <div class="col-md-9">
              <strong class="text-success">Bought</strong> {{item.quantity}} of {{item.name}}
            </div>
          </li>
        </div>
     </ul>
      <div class="emptyMessage"
          ng-if="!boughtList.items.length">Nothing bought yet.
      </div>
    </div>
  </div>
</div>

</body>
</html>
